:local .calendarContainer {
    width: 100%;
    padding: 16px;
}

:local .addButton {
    position: fixed !important;
    bottom: 32px;
    left: 32px;
    z-index: 9999;
}

:local .deleteIcon {
    float: left;
    color: rgb(202, 202, 202);
    z-index: 9999;
}