@import '../../../../global.scss';

:local .container {
    display: flex;
    flex-direction: column;
    height: 50%;
    max-height: 50%;
    margin-bottom: 32px;
}

:local .cardContent {
    display: flex;
    flex-direction: column;
    overflow: overlay;

    height: 100%;

    &.busy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

:local .cardActions {
    display: flex;
    justify-content: space-between;
}

:local .button {
    color: white !important;
    background-color: $primary !important;

    &.disabled {
        background-color: grey !important;
    }
}

:local .header {
    background-color: #cfd8dcff;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}


:local .editIcon {
    float: left;
    color: #cfd8dc
}

:local .editIcon:hover {
    float: left;
    color: black;
    cursor: pointer;
}