@import '../../../../global.scss';

:local .dialogTitle {
    background: $primary;
    color: white !important;
}

:local .dialogContent {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

:local .dialogActions {
    display: flex;
    justify-content: space-between !important;
}