:local .container {
    display: flex;
    padding: 32px 128px;
    flex-grow: 1;
    justify-content: space-between;
}

:local .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.right {
        width: 60%;
        max-width: 60%;
        margin-left: 32px;
    }

    &.left {
        width: 40%;
        max-width: 40%;
    }
}