@import '../../../global.scss';

:local .container {
    display: flex;
    flex-direction: column;
    max-height: 60%;
    height: 60%;
    margin-bottom: 32px;
}

:local .header {
    background-color: $primary;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

:local .content {
    padding: 16px;
    overflow: overlay;
    height: 100%;

    &.busy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}